@import "auth-buttons.css";
.core-auth-widget {text-align:left;}
.core-auth-widget h1 {
    font-size:1.2em;
    border-bottom:1px solid #777;
    padding-bottom:5px;
    font-weight:normal;
}
.core-auth-widget h2 {
    font-size:1em !important;
    font-weight:normal !important;
    padding:3px 0 !important;
    color:#444;
    margin-bottom:10px;
}
.core-auth-widget .field .value { padding:5px 0; }
.core-auth-widget .oauth-buttons { padding-right:20px; }
.core-auth-widget .oauth-buttons p { margin-bottom:15px; }
.core-auth-widget p.agreement { padding:10px 0; }
.core-auth-widget a { text-decoration:none; }
