.crud { margin:2px }
.crud .field {
  clear:both;
  margin-top:2px !important;
  margin-bottom:2px !important;
  border-top:1px solid #AAA;
  border-left:1px solid #AAA;
  border-right:1px solid #999;
  border-bottom:1px solid #999;
  background:#EEE;
  border-radius:2px;
}
.crud b {font-weight:bold;}
.crud p {margin:0;}
.crud .field .label {
 padding:7px;
 padding-right:5px; 
 margin-right:2px;
 float:left;
 font-weight:bold;
 /* width:120px; */
 /* background-color:#EEEEEE; */
 text-align:right;
 font-size:12px;
 /* border-right:3px solid #777; */
}
.crud .field .label-edit {
    padding:8px 0;
    text-align:right;
    margin:0px;
    font-weight:bold;
}

.crud .field .value {
  padding:7px;
  margin-left:135px;
  padding-left:5px;
  background-color:#CCCCCC;
  color:#000000;
  border-left:3px solid #777;
}
.crud .field .value * { font-size:13px; }
.crud .field .value-view {padding:0px 5px;}
.crud p.buttons {
  background-color:#646D7E;
  color:#ffffff;
  padding:5px;
  clear:both;
}

.crud span.validation { display:inline; color:#008; padding-left:5px; }
.crud form .field .value input, .crud form .field .value select {
   padding:5px;
}
.crud form .field .value input, .crud form .field .value select {
  min-width:170px;
}
.crud form .field .value input[type=checkbox] {
  min-width:30px;
  /* margin:5px 0; */
}
.crud form input[type=submit], .crud form input[type=reset], .crud form input[type=button] {
    padding:5px 10px;
    min-width:60px;
}

.crud form .field .value input.invalid { 
    border-left:2px solid #8A0000;
    border-top:2px solid #8A0000;
    border-bottom:2px solid #B94E4E;
    border-right:2px solid #B94E4E;
}
.crud form .field span.invalid { color:#8A0000; }

/* .crud h2 { font-size:17px; padding:15px; padding-bottom:5px; padding-left:0px;} */

/* .crud .field .value > a, .crud .field .value > a:link, .crud .field .value a:visited, .crud .field .value span { */
/*   text-decoration:underline; */
/*   display:block; */
/*   padding:5px; */
/*   color:#000000; */
/*   font-size:12px; */
/* } */
/* .crud .field .value span { text-decoration:none; } */
/* .crud .field .value a:hover { */
/*  color:#222222; */
/* } */
