.max-width { width: 750px; }
h1 { margin:20px 0; margin-bottom:10px; }
p { margin:10px 0; }
body { line-height:1.2em; }

a, a:link, a:visited, a:hover { 
    color:#646D7E;
    /* color:#7ADD33; */
    font-weight:bold; 
}

form { width:100%; }
/* input[type=text], select, input[type=password], textarea { */
/*     background-image:url(images/input-bg.png); */
/*     font-size:15px; */
/*     padding:5px; */
/*     border:1px solid #cc0000; */
/*     color:#000000; */
/* } */
/* .content input[type=submit] { */
/*     padding:5px; */
/*     text-align:center; */
/*     margin:5px; */
/* } */
/* textarea {min-height:80px;} */
/* select {min-height:30px; width:150px;} */
/* input[type=text], input[type=password] { */
/*     width:150px; */
/*     min-height:16px; */
/*     margin:2px; */
/* } */

/* input[type=submit], input[type=button], input[type=reset]  {  */
/*     padding:5px; */
/*     padding-right:10px; */
/*     padding-left:10px; */
/*     margin:0px 5px 0px 2px; */
/*     font-size:14px; */
/*     background: #EEEEEE; */
/*     border-top:1px solid #EEEEEE; */
/*     border-bottom:1px solid #000000; */
/*     border-left:1px solid #EEEEEE;  */
/*     border-right:1px solid #000000; */
/*     text-align:center; */
/* } */
/* .label {font-size:14px;} */
/* .field { margin-bottom:7px; } */
/* input.valid, textarea.valid { */
/*   border:2px solid #000088 !important; */
/* } */
/* input.invalid, textarea.invalid { */
/*   border:2px solid #cc0000 !important; */
/* } */
/* form input.text {  */
/*     background-image:url(images/input-bg.png); */
/*     font-size:15px; */
/*     width:220px; */
/*     padding:5px; */
/*     border:1px solid #cc0000; */
/* } */
/* form span.validation {  */
/*     font-size:13px; */
/*     display:block; */
/*     padding:2px 0px; */
/*     /\* color:#770000; *\/ */
/*     color:#DEDEDE; */
/* } */


.container {
    background:url(images/bg-gray.jpg);
    background-repeat:repeat-x;
}

.header h1 { color:#353535; }
.header h2 { color:#777; font-size:11px; }
.title { height:60px;}
.title h1 { color:#fff; font-size:18px; margin-bottom:5px;}
.title h2 { color:#bbb; font-size:11px; }

.menu { height : 34px; padding-top:2px;}
.menu li {
    list-style : none;
    display : inline;
    line-height : 34px;
}

.menu li a {
    text-decoration : none;
    margin : 0;
    padding : 9px 15px 10px 15px;
    font-weight : bold;
    color : #616161;
}
.menu li a:hover {
    color : #fff;
    /* background : #a7cc44; */
    background: #646D7E;
    margin : 0;
}
.menu li a.hilight {
    /* background : #616161 url(images/trcorner.gif) no-repeat top right; */
    /*background-color: #616161;*/
    /* background:#2e384b url(images/trcorner-blue.gif) no-repeat top right; */
    background:#404d65 url(images/trcorner-blue.gif) no-repeat top right;  
    color : #fff;
}

.footer { 
  background: white url(images/rlline.gif) no-repeat top right;
  padding:10px;
  color:#777;
  line-height:1.4em;
}
/* .content h2 { padding:10px; } */
