table.core-table {
  width:100%;
  border:0;
  background-color:#FFFFFF;
  border-spacing:2px;
}
table.core-table tr { 
  margin:2px;
}
table.core-table tr.hover td {
  background:#646D7E !important;
  color:#fff;
}
table.core-table td, table.core-table th {
  border:0;
}
table.core-table th {
  padding:8px 5px;
  font-size:13px;
  background-color:#222222;
  color:#ffffff;
  text-align:center;
}
table.core-table th a {
  font-size:13px;
  font-weight:bold;
  color:#ffffff; 
  text-decoration:none;
}
table.core-table th a:hover {
  text-decoration:underline;
}
table.core-table td {
  padding:5px;
  background-color:#EEEEEE;
  text-align:center;
  font-size:12px;
  border-top:1px solid #AAA;
  border-left:1px solid #AAA;
  border-bottom:1px solid #999;
  border-right:1px solid #999;
}
table.core-table tr.hilighted td {
  background-color:#CCCCCC;
}
table.core-table tr.selected td {
  background-color:#646D7E;
  color:#ffffff;
}
table.core-table tfoot tr td { 
  background-color:#CCCCCC;
  color:#000000;
  padding:4px;
  text-align:right;
}
table.core-table th.first-column {width:20px;}
table.core-table td.first-column {width:20px;}
table.core-table th.name {width:130px;}
table.core-table td.name {
/*     width:130px; */
/*     font-size:1.1em; */
/*     font-weight:bold; */
}
div.core-table-overflow {
    max-height:260px;
    overflow:auto;
    overflow-x:hidden;
}
